h1.dua{
    text-align: center;
}
span{
    color:red
}
img{
    width:400px;
}
span.empat{
    color: green;
}
span.lima{
    font-weight: bold;
    color: aqua;
}
body{
    background-color: darkkhaki;
}
img{
    width:400px;
    height:300px;

}